.bg-gradient {
  background: linear-gradient(to right, #383838, #242424);
}

.ptb-2 {
  padding: 2rem 0 2rem 0;
}

.color-light-gray {
  color: #b3b3b3;
  text-shadow: 0 0 1rem black;
}

.color-white {
  color: #fff;
  text-shadow: 0 0 1rem black;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  line-height: 2.7rem;
  font-weight: 100;
}

.m0 {
  margin: 0;
}

.main-image {
  position: absolute;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 1rem black;
}

.mt-3 {
    margin-top: 3rem;
}
